
@{
    ViewBag.Title = "Prvi";
}
<style>
    html {
        background: url('../../Content/sat.jpg') no-repeat top fixed;
        background-size: cover;
    }

    body {
        color: black;
    }
</style>
<html>
<body>
    <h2>Prvi</h2>

    <p>
        @DateTime.Now
    </p>
</body>
</html>